<section class="bg-danger py-4">
    <div class="container">
        <div class="email-form">
            <form action="/email" method="POST">
                <legend class="text-center text-white">ПІДПИШІТЬСЯ НА РОЗСИЛКУ</legend>
                <div class="form-row">
                    <div class="col-12 col-lg-9 mb-2 mb-lg-0">
                        <input type="email" class="form-control py-4" required placeholder="Email" name="email" id="email">
                    </div>
                    <div class="col-12 col-lg-3 text-right">
                        <button class="btn btn-light text-danger btn-lg text-uppercase btn-block h-100" type="submit">підписатись</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<footer class="py-4">
    <div class="container">
        <div class="text-center">
            <a href="/" class="fade-hover">
                <svg class="icon-sm">
                    <use xlink:href="/img/icons/icons.svg#red-pepper"></use>
                </svg>
            </a>
        </div>
        <ul class="nav justify-content-center my-3">
            <li class="nav-item text-uppercase">
              <a class="nav-link px-2 py-0 text-danger" href="/about">Про нас</a>
            </li>
            <li class="nav-item text-uppercase">
              <a class="nav-link px-2 py-0 text-danger" href="/discounts">Знижки</a>
            </li>
            <li class="nav-item text-uppercase">
              <a class="nav-link px-2 py-0 text-danger" href="/exclusive">Ексклюзив</a>
            </li>
            <li class="nav-item text-uppercase">
                <a class="nav-link px-2 py-0 text-danger" href="/career">Вакансії</a>
            </li>
            <li class="nav-item text-uppercase">
                <a class="nav-link px-2 py-0 text-danger" href="/map">Магазини</a>
            </li>
        </ul>
        <div class="text-center text-decoration-none c-default">
            <a href="" class="d-inline-block mx-2">
                <svg class="icon-sm fade-hover">
                    <use xlink:href="/img/icons/icons.svg#telegram"></use>
                </svg>
            </a>
            <a href="" class="d-inline-block mx-2">
                <svg class="icon-sm fade-hover">
                    <use xlink:href="/img/icons/icons.svg#instagram"></use>
                </svg>
            </a>
            <a href="" class="d-inline-block mx-2">
                <svg class="icon-sm fade-hover">
                    <use xlink:href="/img/icons/icons.svg#facebook"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/index.min.js"></script>