.right-b-corner {
    bottom: 0;
    right: 0;
}

.right-t-corner {
    top: -0.5em;
    right: -1em;
}

.price-rnd {
    font-size: 220px;
    padding: 0.2em 0.4em 0em 0.1em;
    border-radius: 0.4em 0 0 0;

    @media (max-width: 991.98px) {
        font-size: 160px;
    }

    @media (max-width: 767.98px) {
        font-size: 120px;
    }
}

.t-shadow {
    text-shadow: 1px 1px 3px #000;
}