<main class="mt-5 pt-5">
    <section class="pb-2">
        <div class="container">
            <div class="embed-responsive embed-responsive-16by9 mb-4">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PI590kJQsbo"></iframe>
            </div>
            <h1 class="h3 text-center mb-3 text-danger resp-title-lg">«ХОУЛ ФУДЗ» - ПІДПРИЄМСТВО КОРПОРАЦІЇ «WF» - МЕРЕЖА СУПЕРМАРКЕТІВ, ЩО ДИНАМІЧНО РОЗВИВАЄТЬСЯ.</h1>
            <p class="h5 text-center p-lg mx-auto">
                За чверть століття підприємство виросло у найбільшу роздрібну мережу національного масштабу. 
                Сьогодні торгівельна мережа «WF» налічує понад 1000 магазинів в 279 населених пунктах 24 
                областей України та продовжує демонструвати найвищі темпи зростання.
            </p>
        </div>
    </section>
    <section class="my-5">
        <div class="container">
            <h2 class="text-center mb-4 text-danger">ЧОМУ МИ?</h2>
            <div class="row">
                <div class="col-12 col-md-4 text-center mb-5 mb-lg-0">
                    <svg class="w-100 mb-3">
                        <use xlink:href="img/icons/icons.svg#vegetables"></use>
                    </svg>
                    <h3 class="h4 text-danger">КОНТРОЛЬ ЯКОСТІ</h3>
                    <p class="p-sm">За чверть століття підприємство виросло у найбільшу 
                        роздрібну мережу національного масштабу. Сьогодні 
                        торгівельна мережа «АТБ» налічує понад 1000 магазинів.
                    </p>
                </div>
                <div class="col-12 col-md-4 text-center mb-5 mb-lg-0">
                    <svg class="w-100 mb-3">
                        <use xlink:href="img/icons/icons.svg#sale"></use>
                    </svg>
                    <h3 class="h4 text-danger">КОНТРОЛЬ ЯКОСТІ</h3>
                    <p class="p-sm">За чверть століття підприємство виросло у найбільшу 
                        роздрібну мережу національного масштабу. Сьогодні 
                        торгівельна мережа «АТБ» налічує понад 1000 магазинів.
                    </p>
                </div>
                <div class="col-12 col-md-4 text-center mb-lg-0">
                    <svg class="w-100 mb-3">
                        <use xlink:href="img/icons/icons.svg#worker"></use>
                    </svg>
                    <h3 class="h4 text-danger">КОНТРОЛЬ ЯКОСТІ</h3>
                    <p class="p-sm">За чверть століття підприємство виросло у найбільшу 
                        роздрібну мережу національного масштабу. Сьогодні 
                        торгівельна мережа «АТБ» налічує понад 1000 магазинів.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>