<section class="card-template mt-4">
    <div class="container">
        <article class="card-template__article mb-5">
            <h1 class="card-template__title title title--main">Програма лояльності WF</h1>
            <p class="card-template__paragraph paragraph">
                Що таке бонус? Бонуси – це можливість заощаджувати на покупках у мережі <span class="card-template__highlight">WHOLE FOODS</span>.
                При здійсненні покупок, споживач може розраховуватися накопиченими бонусами, а не коштами.
                Накопичені бонуси не виплачуються споживачу готівкою.
            </p><br>
    
            <p class="card-template__paragraph paragraph">При розрахунку за кожну покупку, споживач може використати суму бонусів при оплаті товару, що не перебільшує залишок на картці.</p><br>
    
            <ul class="card-template__list paragraph">
                При цьому, вартість товару у чеку не може бути меншою, ніж:
                <li class="card-template__list-item">
                    для вагового товару – 0,10 грн за кожні 100г товару
                </li>
                <li class="card-template__list-item">
                    для штучного товару – 0,10 грн за 1шт.
                </li>
            </ul>
        </article>
    
        <article class="card-template__article mb-5">
            <h2 class="card-template__title title title--wide">Як отримувати бонуси</h2>
    
            <p class="card-template__paragraph paragraph">Програма лояльності покупців діє для всіх власників карток мережі <span class="card-template__highlight">WHOLE FOODS</span>. При здійсненні покупок з карткою <span class="card-template__highlight">WHOLE FOODS</span>, на особистий рахунок покупця нараховуються бонуси у розмірі 1% від суми чеку* за кожну здійснену покупку.</p><br>
    
            <p class="card-template__paragraph paragraph">Подарунком до Дня народження власника картки <span class="card-template__highlight">WHOLE FOODS</span> є нарахування бонусів у розмірі 5% від суми чеку* замість 1%, за кожну покупку протягом 14 днів (за 7 (сім) календарних днів до дати народження та 7 (сім) календарних днів після дати народження, включаючи День народження).</p>
        </article>

        <article class="card-template__article mb-5">
            <h2 class="card-template__title title title--wide">Як користуватись карткою <span class="card-template__highlight">WHOLE FOODS</span></h2>
    
            <p class="card-template__paragraph paragraph">При здійсненні покупок в магазині <span class="card-template__highlight">WHOLE FOODS</span> необхідно пред’явити картку клієнта <span class="card-template__highlight">WHOLE FOODS</span> касиру до початку сканування товару. При розрахунку бонусами, касир знімає вказану покупцем суму бонусів, що не перевищує поточний залишок на картці. Все операції по нарахуванню та розрахунку бонусами відображаються у фіскальному чеку.</p><br>
    
            <p class="card-template__paragraph paragraph">Для отримання бонусів на картку учасник має право використовувати на касі Картку або її штрих код чи QR код в електронному носії (смартфони, планшети тощо), але не має права використовувати паперові копії Карток.</p><br>

            <p class="card-template__paragraph paragraph">При розрахунку бонусами, касир знімає вказану покупцем суму бонусів, що не перевищує поточний залишок на картці. Всі операції по нарахуванню та розрахунку бонусами відображаються у фіскальному чеку або у додатку VIBER <span class="card-template__highlight">WHOLE FOODS</span> асистент.</p><br>

            <p class="card-template__paragraph paragraph">Для клієнтів <span class="card-template__highlight">WHOLE FOODS</span> діє Центр Підтримки Покупців <span class="card-template__highlight">WHOLE FOODS</span></p>
        </article>
    </div>
</section>