<main class="mt-5">
    <div class="container">
        <section>
            <h1 class="h3">WHOLE FOODS BRAND</h1>
            <img src="img/brand.jpg" alt="" class="w-100 mb-4">
            <h2 class="resp-title-lg">ВИСОКОЯКІСНІ ТОВАРИ ВЛАСНОЇ ТОРГОВОЇ МАРКИ WHOLE FOODS!</h2>
            <p class="p-lg-fluid">
                Ми працюємо з кращими постачальники країни. Всі товари за вигідними цінами. 
                Спробуйте зараз! Кожного місяця в асортименті з’являються новинки, які проходять 
                ретельний відбір і регулярний контроль якості. Тому Ви з легкістю знайдете щось 
                для себе. Тепер все стало ще доступнішим!
            </p>
        </section>
        <section class="mt-4 mb-5">
            <ul class="products-grid row">
                <li class="product col-12 col-md-6 col-lg-4">
                    <div class="product-inner border border-danger">
                        <img src="/img/discount-product(1).png" alt="" class="product-img">
                    </div>
                </li>
                <li class="product col-12 col-md-6 col-lg-4">
                    <div class="product-inner border border-danger">
                        <img src="/img/discount-product(4).png" alt="" class="product-img">
                    </div>
                </li>
                <li class="product col-12 col-md-6 col-lg-4">
                    <div class="product-inner border border-danger">
                        <img src="/img/discount-product(7).png" alt="" class="product-img">
                    </div>
                </li>
                <li class="product col-12 col-md-6 col-lg-4">
                    <div class="product-inner border border-danger">
                        <img src="/img/discount-product(20).png" alt="" class="product-img">
                    </div>
                </li>
                <li class="product col-12 col-md-6 col-lg-4">
                    <div class="product-inner border border-danger">
                        <img src="/img/discount-product(30).png" alt="" class="product-img">
                    </div>
                </li>
                <li class="product col-12 col-md-6 col-lg-4">
                    <div class="product-inner border border-danger">
                        <img src="/img/discount-product(50).png" alt="" class="product-img">
                    </div>
                </li>
            </ul>
        </section>
    </div>
</main>